<div class="registro-page">
  <div class="registro-overlay"></div>

  <div class="registro-wrapper">
    <div class="registro-card">
      <h2>Registro</h2>

      <p class="server-warning">
        El registro puede tardar unos segundos si el servidor está inactivo.
      </p>

      <form [formGroup]="formularioRegistro" (ngSubmit)="registrar()">
        <div class="form-group">
          <label for="nombreUsuario">Nombre de Usuario:</label>
          <input id="nombreUsuario" type="text" formControlName="nombreUsuario"
            placeholder="Ingresa tu nombre de usuario" />

          <small *ngIf="nombreUsuario?.touched && nombreUsuario?.invalid" class="error-text">
            Ingresa un nombre de usuario válido.
          </small>
        </div>

        <div class="form-group">
          <label for="correo">Correo:</label>
          <input id="correo" type="email" formControlName="correo" placeholder="Ingresa tu correo" />

          <small *ngIf="correo?.touched && correo?.invalid" class="error-text">
            Ingresa un correo válido.
          </small>
        </div>

        <div class="form-group">
          <label for="clave">Contraseña:</label>
          <input id="clave" type="password" formControlName="clave" placeholder="Ingresa tu contraseña" />

          <small *ngIf="clave?.touched && clave?.invalid" class="error-text">
            La contraseña debe tener al menos 6 caracteres, incluyendo letras y números.
          </small>
        </div>

        <div class="form-group">
          <label for="confirmarClave">Confirmar Contraseña:</label>
          <input id="confirmarClave" type="password" formControlName="confirmarClave"
            placeholder="Confirma tu contraseña" />

          <small *ngIf="
              formularioRegistro.hasError('clavesDiferentes') &&
              confirmarClave?.touched
            " class="error-text">
            Las contraseñas no coinciden.
          </small>
        </div>

        <button type="submit" [disabled]="formularioRegistro.invalid || cargando">
          {{ cargando ? 'Registrando...' : 'Registrar' }}
        </button>
        <div class="back-login">
          <a (click)="irLogin()">← Volver al login</a>
        </div>
      </form>

      <p *ngIf="mensajeError" class="error-text mensaje-global">
        {{ mensajeError }}
      </p>
    </div>
  </div>
</div>