<div class="admin-dashboard-page">
  <div class="dashboard-overlay"></div>

  <div class="dashboard-wrapper">
    <div class="dashboard-card">
      <div class="dashboard-header">
        <div class="avatar-circle">👨‍💼</div>

        <div>
          <h1>Panel de Administración</h1>
          <p class="subtitle">
            Bienvenido al centro de control del sistema
          </p>
        </div>
      </div>

      <div class="admin-info">
        <h2>Bienvenido, administrador</h2>

        <p *ngIf="nombreAdmin" class="admin-email">
          Has iniciado sesión como:
          <span>{{ nombreAdmin }}</span>
        </p>
      </div>

      <div class="dashboard-actions">
        <a class="action-card primary" routerLink="/admin/csv-universidades">
          <div class="icon">📄</div>
          <div class="content">
            <h3>Ver universidades</h3>
            <p>Consulta y revisa el archivo CSV cargado en el sistema.</p>
          </div>
        </a>

      

        <a class="action-card info" routerLink="/admin/usuarios">
          <div class="icon">👥</div>
          <div class="content">
            <h3>Ver usuarios</h3>
            <p>Consulta los usuarios registrados dentro de la plataforma.</p>
          </div>
        </a>
      </div>

      <div class="dashboard-footer">
        <button class="logout-btn" (click)="cerrarSesion()">
          Cerrar sesión
        </button>
      </div>
    </div>
  </div>
</div>